.header {
    border-bottom: 1px solid #ECECEC;
}

.header__container {
    display: flex;
    align-items: center;

}

.header__icon {
    fill: currentColor;
}

.header__contacts {
    display: flex;
    gap: 50px;
    margin-left: auto;

}

.header__tel,
.header__mail {
    color: var(--secondary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    transition: color var(--anim-fast);
    display: flex;
    align-items: center;
    gap: 10px;

    &:focus,
    &:hover {
      color: var(--accent-color);
     }
}

